Source: linuxmuster-client-tor-browser-bundle
Section: admin
Priority: optional
Maintainer: Ruediger Beck <jeffbeck@web.de>
Build-Depends: debhelper , perl-base, fakeroot
Standards-Version: 3.5.2



Package: linuxmuster-client-tor-browser-bundle
Architecture: all
Suggests: 
Pre-Depends: wget
Depends: 
Description: Download Tor Browser Bundle 2.2.39-5 on package install
  Make Tor Browser Bundle installable for every user.
